[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
tzdata = "*"
django-crispy-forms = "*"
stripe = "*"
django-environ = "*"
django-money = "*"
wagtail = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.12"

[scripts]
django = "python backend/manage.py runserver 0.0.0.0:80"