{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}
<h3 align="left" href="#">{{ self.heading }}</h3>
<div class="slide-container">
  <div class="swiper mySwiper">
    <div class="card-wrapper swiper-wrapper">
      {% for carousel_item in self.carousel_items %}
      {% image carousel_item.image fill-300x200 as img %}
        <div class="card swiper-slide">
          <img src="{{ img.url }}"  alt="{{ img.alt }}">
          <div class="card-body">
            <h5 class="card-title">{{ carousel_item.title }}</h5>
            <p class="card-text">{{ carousel_item.text }} </p>
            <a href="#" class="btn btn-primary">Go Somewhere</a>
          </div>  
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>
