{% extends '_base.html' %}
{% load static %}

{% block header_include %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock header_include %}

{% block title %}Cart full of Doggo Treats{% endblock title %}

{% block content %}
<h1>Ready to buy?</h1>

{% if cart %}
{% for cart_item in cart.cartitem_set.all %}
    <h3>{{ cart_item.product.name }}</h3>
    {% include 'cart/product_add_form.html' %}
{% endfor %}

<form id='payment-form'>
    {% csrf_token %}
    <h4>Email</h4>
    <input type="email" name="order_email" id="order_email" placeholder="hello@doggo.com">

    <h4>Adress</h4>
    <div id="address-element"></div>
    <h4>Pay by card</h4>
    <div id="payment-element"></div>
    {{ stripe_default_values|json_script:"stripe-default-values" }}
    <script>
        var stripePublicKey = "{{ stripe_public_key }}";
        var stripeClientSecret = "{{ stripe_client_secret }}";
        var stripeDefaultValues = JSON.parse(document.getElementById('stripe-default-values').textContent);
    </script>
    <script src="{% static "orders/payments.js" %}"></script>

    <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
    </button>
</form>

<a href="{% url "cart_page" %}">Return to cart</a>
{% elif success %}
<p>Nice job on the order! ✨</p>
<h3>{{ success }}</h3>
{% else %}
<h3>No items in cart 🛒, do some more shopping first</h3>
{% endif %}



{% endblock content %}