{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Tea for doggos
            {% endblock title %}
        </title>
        {% block header_include %}
        {% endblock header_include %}
        <link rel="stylesheet" href="{% static 'css/carousel_calcs.css' %}">
    </head>
    <body>
        <div class="container">
            <header>
                Header bar
            </header>
            <div class="logo_and_nav">
                <div id="logo">
                    <a href="/">logo</a>
                </div>
                <div id="main_nav">{% include "_wagtail_nav.html" %}</div>
            </div>
            {% block content %}
                <!--Different page have different content-->
            {% endblock content %}
            <footer>
                Footer
            </footer>
        </div>
    </body>
</html>
