{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tea for doggos{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/carousel_calcs.css' %}">
</head>
<body>
    <div class="container">
        <header>Floral header</header>
        <div class="logo_and_nav">
            <div  id="logo" >logo</div>
            <div  id="main_nav" >nav</div>
        </div>
        {% block content %}       
        <!--Different page have different content-->
        {% endblock content %}
        <footer>Footer</footer>
    </div>
</body>
</html>